@model IEnumerable<SeboProject.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                ISBN
            </th>
            <th>
                Publisher
            </th>
            <th>
                Edition
            </th>
            <th>
                Qty
            </th>
            <th>
                Price
            </th>
            <th>
                Visualiz.
            </th>
            <th>
                Condition
            </th>
            <th>
                Study Area
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @{
                    if (item.PhotoFileName != null)
                    {
                        var base64 = Convert.ToBase64String(item.PhotoFileName);
                        var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
                        <img src="@imgsrc" style="max-width:100px; max-height:100px;" />
                    }
                }

                @*@Html.DisplayFor(modelItem => item.PhotoFileName)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Visualizations)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookCondition.Condition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudyArea.StudyAreaName)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.BookId">Details</a> |
                <a asp-controller="Orders" asp-action="BuyIt" asp-route-id="@item.BookId">Buy It</a>
            </td>
        </tr>
}
    </tbody>
</table>
