@using SeboProject.Utilities
@model Pagination<SeboProject.Models.BookCondition>

@{
    ViewData["Title"] = "Intitutions Branches";

}

<h2>BOOK CONDITIONS</h2>

<p>
    <a asp-action="Create">Add a Institution Branch</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions  no-color">
        <p>
            Book Condition Filter:  <input type="text" name="SearchString" value="@ViewData["SearchString"]" />
            <input type="submit" value="Search" class="btn  btn-default" />  |
            <a asp-action="Index">All records</a> | Records Displayed @Model.TotalR
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["BookConditionOrder"]">Condition Name</a>
            </th>
            <th></th>
        </tr>
        <tr>
            <th>
                <form asp-action="Index" method="post">
                    @Html.DropDownList("BookConditionFilter", ((IEnumerable<SelectListItem>)ViewData["BookConditionFilter"]), "All", new    {
                        onchange = "submit();"
                    })
                </form>
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td nowrap>
                    @Html.DisplayFor(modelItem => item.Condition)
                </td>
                <td nowrap>
                    <a asp-action="Edit" asp-route-id="@item.BookConditionId" class="btn-warning">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.BookConditionId" class="btn-info">Details</a>|
                    <a asp-action="Delete" asp-route-id="@item.BookConditionId" class="btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>


@for (int i = 1; i <= Model.TotalPages; i++)
{
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-page="@i"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default">
        @i
    </a>
}
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>
