@model SeboProject.Models.User

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AddressComplement)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AddressComplement)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Creditcard)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Creditcard)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreditcardSecurityCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreditcardSecurityCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CredicardExpirationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CredicardExpirationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Localization)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Localization.PlaceName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InstitutionBranch)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InstitutionBranch.InstitutionBranchName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UserId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
