@model SeboProject.Models.InstitutionBranch

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>InstitutionBranch</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InstitutionBranchName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InstitutionBranchName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Institution)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Institution.InstitutionName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.InstitutionBranchId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
