@model SeboProject.Models.Order

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaymentForm)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaymentForm)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaymentDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaymentDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CancelationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CancelationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CanfirmationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CanfirmationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsConfirmedByBuyer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsConfirmedByBuyer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Book)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Book.ISBN)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Buyer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Buyer.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Seller)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Seller.UserName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OrderId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
